img { 
	@include img-responsive();
}

a { 
	color: $black;
  @include transition();
  &:hover, &:active {
    color: $green;
    text-decoration: none;
  }
}

body { 
	font-family: "Montserrat", sans-serif;
}