-var site = "www.site.com"
-var siteUrl = "http://www.site.com"
-var siteCharset = "utf-8"
-var siteLang = "pt-BR"
-var siteTitle = "Site Title in Var"
-var siteDescription = "Site Description"
-var analytics = "UX-000000"
