//- Page Index Layout
section.portfolio
	div.container
		div.portfolio-content.animate
			h2 Recent Jobs
			div.list-jobs
				div.job
					div.job_thumbnail
						img(src="img/01-illusion.jpg", alt="Illusion")
					div.job_title
						h2 Illusion