//- Page Index Layout
section.portfolio
	div.container
		div.portfolio-content.animate
			h2 Recent Jobs
			div.list-jobs
				div.job
					div.job_thumbnail
						img(src="img/thumbnail.jpg", alt="", class="")
					div.job_title
						h2 Project Name
				div.job
					div.job_thumbnail
						img(src="img/thumbnail.jpg", alt="", class="")
					div.job_title
						h2 Project Name
				div.job
					div.job_thumbnail
						img(src="img/thumbnail.jpg", alt="", class="")
					div.job_title
						h2 Project Name