//- Page Index Layout
section.portfolio
	div.container
		div.portfolio-content.animate
			h2 Recent Jobs
			div.list-jobs
				a(href="https://fillipeamorim.github.io/Portfolio-Project-01-bootstrap-sass", title="Ficticious layout for temporary portfolio", target="_blank")
					div.job
						div.job_thumbnail
							img(src="img/01-illusion.jpg", alt="Illusion")
						div.job_title
							h2 Illusion