//- Layout Footer
footer.footer
	.container
		.inner-footer
			p &copy; 2016 All Rights Reserved

//- Scrips for all pages
script(src="js/vendor/jquery-1.12.2.min.js")
script(src="js/vendor/bootstrap.min.js")
script(src="js/vendor/webfontloader.js")
script(src="js/vendor/wow.js")
script(src="js/default.js")
//- +analytics(siteID)
