//- Variables
-var site = "fillipeamorim.me"
-var siteUrl = "http://fillipeamorim.me"
-var siteCharset = "utf-8"
-var siteLang = "pt-BR"
-var siteTitle = "Fillipe Amorim | A Professional Front-end Programmer"
-var siteID = "UA-27929357-1"