extends templates/default

block page-title
	title #{siteTitle} - Home

block page-description
	meta(name="description", content="Descriptions for this page only")

block extra-styles
	//- link(rel="stylesheet", href="extraStyleForThisPageOnly.css")

block header
	include ./partials/header

block content
	include ./partials/content-index

block footer
	include ./partials/footer

block extra-scripts
	//- script(src="scriptOnlyInHome.js")